<div class="signup">
    <div class="signup-body">
        <div class="logo-block">
            <img src="../../assets/icon/chatoff-logo.svg" alt="chatoff" class="page-logo">
            <h2 class="logo-title">CHATOFF</h2>
        </div>
        <form class="input-form" [ngStyle]="{ 'padding-bottom': inputSelected ? marginBottomVh + 'vh' : '0' }"
            [formGroup]="form" (ngSubmit)="submit()">
            <h3 class="big-title">{{'signup' | uppercase}}</h3>

            <div class="input-block">
                <div class="input-item">
                    <input formControlName="name" (focus)="setMarginBottom(true)" (blur)="setMarginBottom(false)"
                        type="text" class="big-input" placeholder="Name">
                    <img class="input-icon" src="../../../assets/icon/User.svg" alt="email">
                    <p class="error-block"
                        *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
                        * Name is required
                    </p>
                </div>
                <div class="input-item">
                    <input formControlName="email" (focus)="setMarginBottom(true)" (blur)="setMarginBottom(false)"
                        type="email" class="big-input" placeholder="Email">
                    <img class="input-icon" src="../../../assets/icon/Letter.svg" alt="email">
                    <p class="error-block"
                        *ngIf="form.get('email')?.errors?.['required'] && (form.get('email')?.dirty || form.get('email')?.touched)">
                        * Email is required
                    </p>

                    <p class="error-block"
                        *ngIf="form.get('email')?.errors?.['email'] && (form.get('email')?.dirty || form.get('email')?.touched)">
                        * Enter a valid email address
                    </p>
                </div>
                <div class="input-item">
                    <input formControlName="password" (focus)="setMarginBottom(true)" (blur)="setMarginBottom(false)"
                        type="text" class="big-input" placeholder="Password">
                    <img class="input-icon" src="../../../assets/icon/Private Lock.svg" alt="password">
                    <p class="error-block"
                        *ngIf="form.get('password')?.errors?.['required'] && (form.get('password')?.dirty || form.get('password')?.touched)">
                        * Password is required
                    </p>

                    <p class="error-block"
                        *ngIf="form.get('password')?.errors?.['minlength'] && (form.get('password')?.dirty || form.get('password')?.touched)">
                        * Password must be at least 8 characters long
                    </p>

                </div>
            </div>
            <div class="signup-btns">

                <button type="submit" class="big-btn yellow-bg">
                    {{'SIGN UP' | titlecase}}
                </button>


                <p style="text-align: center">
                    <span [routerLink]="['/login']" style="text-decoration-line: underline;">I’m already a
                        member</span>
                </p>
            </div>
        </form>
    </div>
</div>