.login {
  position: relative;
  background: url("../../../assets/images/green-background.jpg") lightgray 50% /
    100% 100% no-repeat;

  height: 100dvh;
  width: 100vw;
  background-size: cover;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(255, 0, 0, 0.5); /* Red overlay with 50% opacity */
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.76) 0%,
      rgba(0, 0, 0, 0) 65.17%
    );
  }
  .login-body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    z-index: 5;

    padding: 10px 27px;
    height: 100vh;
    overflow-y: auto;
    .logo-block {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 17px;
      flex-wrap: wrap;
      .page-logo {
        height: 65px;
        width: 65px;
      }
    }
    .input-form {
      .login-btns {
        display: flex;
        flex-direction: column;
        gap: 23px;
        max-height: 454px;
        height: 100%;
        .radio-btn {
          display: flex;
          gap: 10px;

          justify-content: center;
          align-items: center;
          .radio-check {
            border-radius: 5px;
            border: 1px solid #fff;
            position: relative;
            height: 16px;
            width: 16px;

            cursor: pointer;

            & img {
              position: absolute;
              height: 11px;
              width: 11px;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}
